{% extends 'book_rev_web/base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container" style="text-align: center;">
              <h1 class="display-4">Hello, world!</h1><br>
              <p class="lead">This is a web for book enthusiast! In here you can exchange your mind about the book and help other people by reviewing a book.</p>
              <hr class="my-4">
              <p>Have fun reading!</p>
              <p class="lead">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <a class="btn btn-primary btn-lg" href="/register" role="button" style="width: 200px;">Register Now!</a>
                    </div>
                    <div class="col" style="text-align: center;">
                        <a class="btn btn-primary btn-lg" href="/login" role="button" style="width: 200px;">Sign In</a>
                    </div>
                </div>
              </p>
        </div>
    </div>
{% endblock %}